<div id="main-counter" ng-controller="CounterController">
  <span class="time" ng-class="{ 'timeout': isTimeout }">
    {{ runTime | duration }}
  </span>

  <div class="controls" ng-show="showControls()">
    <button ng-click="stop()">
      Parar
    </button>

    <button ng-click="cancel()">
      Cancelar
    </button>
  </div>

  <button ng-click="shortBreak()">
    Pausa de 5 minutos
  </button>

  <button ng-click="longBreak()">
    Pausa de 25 minutos
  </button>

  <div class="current-pomodoro">
    {{ currentCounterEntity.attributes.description }}
  </div>
</div>
