<div class="pomodoro-list-item">

  <p class="task-name">
    Descrição do pomodoro
  </p>

  <form>
    <input type="text" autofocus>
  </form>

  <div class="controls">
    <button>
      Iniciar
    </button>

    <button>
      Excluir
    </button>
  </div>
</div>
