<div class="pomodoro-list-item"
     ng-repeat="tomato in tomatoes"
     ng-controller="TomatoController">

  <p class="task-name">
    {{ tomato.attributes.description }}
  </p>

  <form>
    <input type="text" autofocus>
  </form>

  <div class="controls">
    <button>
      Iniciar
    </button>

    <button>
      Excluir
    </button>
  </div>
</div>
