<p class="task-name"
   ng-hide="pomodoroCtrl.editMode"
   ng-click="pomodoroCtrl.enterEditMode()">
  {{ pomodoro.attributes.description }}
</p>

<form ng-submit="pomodoroCtrl.update()"
      ng-show="pomodoroCtrl.editMode"
      class="form pomodoro-form">
  <input type="text"
         loading-field="{ disableField: false }"
         ng-model="pomodoro.attributes.description"
         required
         ng-keyup="pomodoroCtrl.keyPress($event)"
         ng-blur="pomodoroCtrl.cancelEdition()"
         focus-on="pomodoroDescription">
</form>

<div class="controls">
  <button ng-click="pomodoroCtrl.remove()"
          class="control-button"
          disable-on-send="{
            promiseVariable: 'destroyPromise',
            disableText: '<i class=\'fa fa-spinner fa-spin\'></i>'
          }">
    <i class="fa fa-trash-o"></i>
    <span class="button-text">Excluir</span>
  </button>

  <button ng-click="pomodoroCtrl.start()"
          ng-show="pomodoroCtrl.showStartButton()"
          class="control-button">
    <i class="fa fa-play"></i>
    <span class="button-text">Iniciar</span>
  </button>
</div>
