<div id="main-counter" ng-controller="CounterController as counter">
  <span class="time" ng-class="{ 'timeout': counter.isTimeout }">
    {{ counter.runTime | duration }}
  </span>

  <div class="controls" ng-show="counter.showControls()">
    <button ng-click="counter.stop()">
      Parar
    </button>

    <button ng-click="counter.cancel()">
      Cancelar
    </button>
  </div>

  <button ng-click="counter.shortBreak()">
    Pausa de 5 minutos
  </button>

  <button ng-click="counter.longBreak()">
    Pausa de 25 minutos
  </button>

  <div class="current-pomodoro">
    {{ counter.currentCounterEntity.attributes.description }}
  </div>
</div>
