<p class="task-name"
   ng-hide="editMode"
   ng-click="enterEditMode()">
  {{ tomato.attributes.description }}
</p>

<form ng-submit="update()" ng-show="editMode" class="form tomato-form">
  <input type="text"
         loading-field
         ng-model="tomato.attributes.description"
         required
         ng-keyup="keyPress($event)"
         autofocus>
</form>

<div class="controls">
  <button ng-click="remove()" class="control-button">
    <i class="fa fa-trash-o"></i>
    <span class="button-text">Excluir</span>
  </button>

  <button ng-click="start()" ng-show="showStartButton()" class="control-button">
    <i class="fa fa-play"></i>
    <span class="button-text">Iniciar</span>
  </button>
</div>
