<div ng-include
     src="'tomatoes/templates/_counter.html'"
     class="main-counter"
     ng-controller="CounterController as counter"></div>

<form action="" class="form tomato-form new-tomato-form" ng-controller="NewTomatoController" ng-submit="save()">
  <input type="text"
         placeholder="Criar um novo pomodoro..."
         loading-field
         required
         ng-model="tomato.attributes.description">
</form>

<div class="tomatoes-container">
  <div ng-model="tomatoes"
       ui-sortable="sortableOptions"
       ng-controller="TomatoesController">
    <div ng-include
         src="'tomatoes/templates/_tomato.html'"
         class="pomodoro-list-item"
         ng-repeat="tomato in tomatoes"
         ng-controller="TomatoController"></div>
  </div>
</div>
