<div class="sidebar">
  <h1 class="main-call">
    Pomodoro App
  </h1>

  <div class="pomodoro-lists">
    {{each itemViewClass="App.PomodoroListLinkView"}}
  </div>
</div>

<div class="content-container">
  {{outlet}}
</div>
