/*
 *= require_tree .
 *= require reset
 *= require_self
 */

body {
  overflow: hidden;
  font-family: Helvetica, Arial, 'san-serif';
}

.sidebar {
  background: #2b2f3a;
  width: 25%;
  position: absolute;
  height: 100%;
}

.main-call {
  background: #fff;
  color: #4985c9;
  font-weight: lighter;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.pomodoro-lists {
  width: 100%;
  position: absolute;
  top: 60px;
  padding-top: 20px;
  bottom: 0;
  overflow: auto;
}

.pomodoro-list-link {
  display: block;
  background: #3b4256;
  padding: 16px;
  font-weight: lighter;
  font-size: 14px;
  text-shadow: 0px -1px 0px #1d253b;
  margin: 0 20px 15px 0;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 0 #262b39;
}

.pomodoro-list-link.active {
  background: #505a73;
  text-shadow: 0px -1px 0px #3d465e;
}

.content-container {
  width: 75%;
  position: absolute;
  left: 25%;
  height: 100%;
}

.tomato-form {
  padding: 0 10px 10px 10px;
  border-bottom: 2px solid #E4E4E4;
}

.tomatoes-container {
  position: absolute;
  width: 100%;
  top: 328px;
  bottom: 0;
  overflow: auto;
}

.pomodoro-list-item {
  background: #f6f6f6;
  margin-bottom: 1px;
  padding: 10px 15px;
  border-bottom: 2px solid #E6E6E6;
  cursor: pointer;
  overflow: hidden;
}

.pomodoro-list-item .control-button {
  float: right;
  background: none;
  border: none;
  text-shadow: 0px 2px 0px #fff;
  color: #ACAAAA;
  font-size: 17px;
  cursor: pointer;
}

.pomodoro-list-item .control-button:hover {
  color: #878080;
}

.pomodoro-list-item .button-text {
  display: none;
}

.pomodoro-list-item .task-name {
  float: left;
  text-shadow: 0px 1px 0px #fff;
  color: #968D8D;
  line-height: 30px;
  font-size: 14px;
  font-weight: lighter;
}

.main-counter .current-pomodoro {
  background: #3577c3;
  color: #fff;
  line-height: 60px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
}

.main-counter .time {
  font-size: 120px;
  background: #4985c9;
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 900;
  font-family: Lato;
}

.main-counter .time.timeout {
  background: #ED3E3E;
}

.counter {
  position: relative;
  text-align: center;
}

.counter-controls {
  padding: 10px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.counter-controls .counting-controls {
  display: inline-block;
}

.form input[type=text] {
  border: none;
  font-size: 15px;
  padding: 10px;
  background: #F7F7F7;
  border-top: 2px solid #E9E9E9;
  box-sizing: border-box;
  width: 100%;
}

.button {
  background: #3577c3;
  text-transform: uppercase;
  padding: 8px 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  box-shadow: 0 2px 0 #2C6CB7;
}
